<html>
    
<head>
    <style>
   
    </style>        
</head>

<body class="bg_video">
   
   <video class="bg_video1" autoplay loop poster = "/image/sky1.jpg">
      <source src = "/image/Sky.mp4" type = "video / mp4">
   </video>


<div class="container mt-4 px-5">
            <div style="height: 50px; text-align: center;">
                <% if user_signed_in? %><%= current_user.name %>님, 안녕하세요
                <% else %>로그인이 필요합니다
                <% end %>
            </div>
            <p style="text-align: center;">
            <img src="https://pbs.twimg.com/media/C0JS1YsXUAAEu4E.jpg" style="max-width: 60%; height: auto;">
            </p>
</div>
        
        
</body>

</html>