<div class="container">
   
<div class="container mt-4 px-5">
    
 <div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://image.koreatimes.com/article/2017/10/31/20171031103336591.jpg" alt="Card image cap">
  <div class="card-body">
      <center>
    <p class="card-text">결혼식 예절</p>
    
    <a href="/manners/manner/manner1" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go!</a>

    </center>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://cfile202.uf.daum.net/image/176BFF3E4FBAF0921143E9" alt="Card image cap">
  <div class="card-body">
      <center>
    <p class="card-text">돌잔치 예절</p>
    
    <a href="/manners/manner/manner2" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go!</a>

    </center>
  </div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://post-phinf.pstatic.net/MjAxNzA5MjJfMjEy/MDAxNTA2MDcwMDEyMzI2.L13leICeO5q_3OW_Ln8uOZ5ARBlVg-Mp7T6ze67QShIg.QcwyBOncgEVUvLU7xHnAxCMMoDU7tP3TePGfWXIgbeAg.JPEG/%EC%86%A1%EB%8F%84_%EC%98%A4%EB%9D%BC%EC%B9%B4%EC%9D%B4_%ED%98%B8%ED%85%94_%EC%B9%A0%EC%88%9C%EC%9E%94%EC%B9%98_%EC%B9%A0%EC%88%9C%EC%8A%A4%EB%83%85_%EC%B9%A0%EC%88%9C%EA%B0%80%EC%A1%B1%EC%82%AC%EC%A7%84_%EC%B9%A0%EC%88%9C%EC%9E%94%EC%B9%98%EC%82%AC.jpg?type=w1200" alt="Card image cap">
  <div class="card-body">
      <center>
    <p class="card-text">생신 예절</p>
    
    <a href="/manners/manner/manner3" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go!</a>

    </center>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://mblogthumb2.phinf.naver.net/MjAxNzEwMTZfMjAz/MDAxNTA4MTE0NTc2ODk4.FKYFXVHIMt_abNWmsgZTVPimroudqtwpJ_zg3ExPS_wg.goRi6pGlkwUb-v1lxlqk00MSCFwCCmG4qt0wcbKuDJkg.JPEG.yeonservice1/%EC%9E%A5%EB%A1%80%EC%9A%A9%EC%96%B4%2C_%EC%9E%A5%EB%A1%80%EC%8B%9D%EC%9A%A9_FUNERAL_%283%29.JPG?type=w800" alt="Card image cap">
  <div class="card-body">
      <center>
    <p class="card-text">장례식 예절</p>
    
    <a href="/manners/manner/manner4" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go!</a>

    </center>
  </div>
</div>
    </div>
    
  </div>
</div>
     
  
  
  
</div>
</div>
</div>
