<head>
 
</head>

<body>
  <div class="container">
      <h1>돌잔치 예절</h1>
      </div>
      
      <div class="container mt-4 px-5">
          <p>
    <strong>기본:</strong></p>
    <p>
    (1) 답례품은 하나만가져가기
    </p>
    <p> (2) 못가게 될경우 연락 한통이라도 꼭 하기</p>

 <p>
    <strong>선물:</strong></p>
    <p>아기 옷 이나 신발, 현금 같은 가벼운 선물을 준비하시는 것이 좋습니다.
    </p>

          
      </div>
      
</body>