<head>
        
        <link href="https://fonts.googleapis.com/css?family=Stylish&amp;subset=korean" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&amp;subset=korean" rel="stylesheet">
        
          <style>
            
            p.title0 {
                width: 400px;  
                color: 'black';
                padding: 5px;
                font-family: 'Stylish', sans-serif;
                font-size : 70px;
            }
            
            p.title {
                width: 400px;  
                color: rgba(51, 153, 51);
                padding: 5px;
                font-family: 'Stylish', sans-serif;
                font-size : 50px;
            }
            
             p.content {
                width: 1000px;  
                color: 'black';
                padding: 5px;
                font-family: 'Nanum Myeongjo', serif;
            }
            
          
                body {
                  font-family: 'Stylish', sans-serif;
                  font-size: 1.2em;
                  color: white;
                  background: url("/image/tree.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-attachment: fixed;

            }
             
        
            </style>        
</head>

<body>
            <div class="container">
                 <p class='title0'>돌잔치 예절</p><br/>
             </div>
              
            <div class="container mt-4 px-5">
                  
                <p class='title'>1.기본</p>
                <p class='content'>
                 &nbsp;&nbsp;-답례품은 하나만 가져갈 것.<br/>
                 &nbsp;&nbsp;-가지 못하는 상황이 생기면 연락드릴 것.<br/><br/>
                </p>
                <p class='title'>2.선물</p>
                <p class='content'>&nbsp;&nbsp;&nbsp;-아기 옷 이나 신발, 현금 같은 가벼운 선물을 준비해 가는 것이 좋습니다.
                </p>
              
        
                  
              </div>
      
</body>