<head>
 
        <link href="https://fonts.googleapis.com/css?family=Stylish&amp;subset=korean" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700&amp;subset=korean" rel="stylesheet">
        
          <style>
            
            p.title0 {
                width: 400px;  
                color: 'black';
                padding: 5px;
                font-family: 'Stylish', sans-serif;
                font-size : 70px;
            }
            
            p.title {
                width: 400px;  
                color: rgba(51, 153, 51);
                padding: 5px;
                font-family: 'Stylish', sans-serif;
                font-size : 50px;
            }
            
             p.content {
                width: 1000px;  
                color: 'black';
                padding: 5px;
                font-family: 'Nanum Myeongjo', serif;
            }
            
          
            body {
                  font-family: 'Stylish', sans-serif;
                  font-size: 1.2em;
                  color: white;
                  background: url("/image/tree.png");
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-attachment: fixed;

            }
             
        
            </style>        
</head>

<body>
    

    
      <div class="container">
        <p class="title0" >결혼식 예절</p>
        <br/>
      </div>
      
      <div class="container mt-4 px-10">
          
            <p class="title">
                1.시간
                <br/>
            </p>
            
            <p class="content">
               &nbsp;&nbsp;-결혼식 시작 30분 전까지 도착하기.<br/>
               &nbsp;&nbsp;-결혼식 도중에 식사하러 가지 않고, 포토타임까지 기다려서 사진찍기.</font>
            <br/><br/>
            
                <p class="title">2.옷차림</p>
             <br/>
             
               <p class="content">  
              &nbsp;&nbsp; -단정한 옷차림으로 입으면 됩니다.<br/>
                &nbsp;&nbsp;&nbsp; (다만 아래 위로 전부 흰색인 옷은 피해야 합니다.)</font>
         
              </p>
        
          <br/>
          <figure class="figure">
            <img src="http://image.chosun.com/sitedata/image/201612/24/2016122400190_0.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          </figure>
                
      </div>
      
</body>