<head>
   
</head>

<body>
  <div class="container">
      <h1>장례식 예절</h1>
      </div>
      
      <div class="container mt-4 px-5">
          <p>
    <strong>복장:</strong> </p>
    <p>옷을 갈아입고 갈 수 있는 상황이 <strong>아닌</strong> 경우 : 최대한 단정하게 입고 가능것이 좋습니다.

    </p>
    <p>그외의 경우:</p>
    <p>[공통] 겨울철에는 장례식장 입장전에 외투를 벗어두어야합니다. </p>
    <p> (1) <strong> 남성:</strong> 복장은 일단 검은색 정장을 기본으로하고, 없을 경우 회색도 괜찮습니다. 넥타이와 양말, 구두의 경우 단색으로 통일 시켜주는것이 좋습니다.</p>
 
<p>
    (2) <strong> 여성:</strong>
    검은색 상의에 폭이 넓은 치마가 적합하며, 옷차림은 최소한으로 간단해야 합니다. 
    <strong>검은색 이나 단색</strong> 을 입는 것이 좋습니다.
</p>
<p> 맨발이 보이지 않도록 스타킹, 양말등을 착용해야하고 짙은 화장, 향수를 삼가해야 합니다. 결혼반지를 제외한 악세사리는 하지않는편이 좋습니다.</p>
<figure class="figure">
  <img src="https://t1.daumcdn.net/cfile/tistory/995C543E5B3CE82008" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  
</figure>
          <p> <strong>조문 순서: </strong></p>
          <p><strong>1) 방명록 작성</strong></p>
          <p> 장례식장 입구에 놓여있는 조객록에 서명을 한후, 분향과 헌화를 합니다.
          향을 피울 땐 오른손으로 향을 집어 불을 붙이고, 끌 때는 손가락으로 가만히 잡아서 끄거나 왼손으로 가볍게 흔들어서 끕니다.</p>
      
          <p><strong>2) 조문 문상 절차</strong></p>
          <p>
              그 후 <strong>재배(절)</strong>을 하게 되는데, 남자와 여자 모두 <strong> 큰절을 두번씩</strong>하고
              가볍게 <strong>목례</strong>한 후, <strong>상주와 한번의 맞절</strong>을 하면됩니다.
              
          </p>
          <p><strong>3) 조의금 전달</strong></p>
          
          <p><strong> 조의금 내는법 :</strong></p>
          <p> 조의금은 3,5,7, 10 만원등 <strong>홀수 단위</strong>로 내야 합니다.
          봉투 뒤 오른쪽 하단에 세로로 이름을 적고 조의금을 넣어 전달하면 됩니다.
          </p>
          
          <p><strong> 재배 하는법 :</strong></p>
          <p> 기본적으로 절하는 방법과 큰 차이가 없습니다.
          <strong>공수자세</strong>에서 남자는 오른손을 위로, 여자는 왼손을 위로 두어야한다는 정도의 차이가 있습니다.</p>
          </div>
      
</body>