<head>
 
</head>

<body>
  <div class="container">
      <h1>생신 예절</h1>
      </div>
      
      <div class="container mt-4 px-5">
          <p>
    <strong>정보:</strong></p>
    <p>
    (1) 환갑: 천간(天干)과 지지(地支)를 합쳐서 60갑자(甲子)가 되므로 태어난 간지(干支)의 해가 다시 돌아왔음 뜻하는 61세가 되는 생일.
    </p>
    <p> (2) 칠순: 70세를 일컫는 용어</p>

 <p>
    <strong>예절:</strong></p>
    <p>예의를 갖춰 축하해드려야합니다.
    </p>

          
      </div>
      
</body>