<head>
 
</head>

<body>
  <div class="container">
      <h1>결혼식 예절</h1>
      </div>
      
      <div class="container mt-4 px-5">
          <p>
    <strong>시간:</strong>
    결혼식 시작 30분 전까지 도착하기, 결혼식 도중에 식사하러 가지 않고 포토타임까지 기다려서 사진찍기.
</p>

 <p>
    <strong>옷차림:</strong>
    단정한 옷차림으로 입으면 됩니다. 다만 아래 위로 전부 흰색인 옷은 피해야 합니다.
</p>
<figure class="figure">
  <img src="http://image.chosun.com/sitedata/image/201612/24/2016122400190_0.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  
</figure>
          
      </div>
      
</body>